.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box
{
  padding: 10px;
  font-family: serif;
  color:rgb(45,76,312);
  background-color: #000;
  background-repeat: no-repeat;
}
.CAR
{
  color: pink;
  padding: 25px;
  margin: 5px 20px;
}
.types
{
  font-family: italic;
  padding: 10px;
  background-color: green;
  color:#fff;
}
